################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Game/.vs/Game/v14
/Game/.vs/config/applicationhost.config
/Game/Game.ActorModel/bin/
/Game/Game.ActorModel/obj/
/Game/Game.State/bin
/Game/Game.State/obj/
/Game/Game.Web/bin
/Game/Game.Web/obj/
/Game/packages
